# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# Databases
db.sqlite3

# Jupyter
.ipynb_checkpoints

# Testing
.coverage
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db